@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "adminlte/variables.less";
@import "adminlte/mixins.less";

ul.share-buttons {
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img {
  width: 32px;
}

.jumbotron {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #020031), color-stop(100%, #6d3353));
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.7
}

// documentation sidebar
.sidebar-menu {
  li a:active {
    color: #319af3;
  }
  li a:hover {
    color: #319af3;
    text-decoration: underline;
  }
}

.main-sidebar {
  padding-top: 60px;
}

// navigation logo
.main-header .logo {
  height: 60px;
  padding: 0;
}

// navigation logo narrow
@media (max-width: 767px) {
  .main-header .logo {
    width: 200px;
    left: 45%;
  }
}

// navigation logo text
.logo-lg {
  position: relative;
  .logo-caption {
    font-family: "Dosis", "Source Sans Pro", Helvetica, Arial, sans-serif;
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    color: #61b2f6;
    left: 80px;
    top: 5px;
  }
  .logo-image {
    position: absolute;
    left: 10px;
  }
}


// navigation background
.top-banner,
.main-header,
.main-header .navbar,
.main-header > .logo {
  background-color: white !important;
}

// navigation items
.main-header .navbar .nav > li > a {
  color: #319af3;
}

.main-header .navbar .nav > li >a:hover,
.main-header .navbar .nav > li > a:active,
.main-header .navbar .nav > li > a:focus,
.main-header .navbar .nav .open > a,
.main-header .navbar .nav .open > a:hover,
.main-header .navbar .nav .open > a:focus,
.main-header .navbar .nav > .active > a {
  color: #319af3;
  background: none;
}

.main-header .navbar .nav > li {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.main-header .navbar .nav > li.active a,
.main-header .navbar .nav > li > a:hover {  
  border-bottom: 1px solid #319af3;
}

.main-header .navbar .nav > li a.github {
  border-bottom: none;
}

// navigation button (mobile)
.navbar-toggle {
  color: #2979bb;
}

.main-header .navbar .sidebar-toggle {
  color: #2979bb;
  &:hover {
    background-color: white;
    text-decoration: none;
    color: #2979bb;
  }
}

.main-header .navbar .navbar-collapse {
  box-shadow: 0 5px 10px lightgray;
}

.infobar {
  top: 60px;
}

// for desktop and tablets
@media (min-width: @screen-xs-min) {
  .main-header .navbar .navbar-collapse {
    box-shadow: 0 0 0;
  }
}

// code samples
.hljs {
  background: rgba(0, 0, 0, 0.024);
  padding: 8px !important;
  white-space: pre;
}

.code-sample pre {
  padding: 8px !important;
  background: rgba(0, 0, 0, 0.024);
  border: none;
}

// content header
.content-header h1 {
  background: transparent;
  font-weight: 200;
  font-size: 51px;
  color: #319af3;
  border: none;
  padding: 0;
}

@media (max-width: 767px) {
  .content-header h1 {
    font-size: 41px;
  }
}

// thx paul - https://reactivex.slack.com/archives/C02AJB872/p1502676096944250
section.content {
  position: relative;
}

section.content img {
  max-width: 100%;
}

// for desktop and tablets
@media (min-width: @screen-xs-min) {
  // position relative to shift image upwards without affecting margins and padding.
  .bottom-footer .footer-logo {
    bottom: 24px;
    position: relative;
  }
}

iframe.embedded-video {
  width: 100%;
  height: 500px;
}

summary {
  background: #319af3;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

pre {
  border: none;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}
.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula,
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #3f729d;
}
.hljs-literal {
  color: #a94442;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #a94442;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #a94442;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #686a72;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}

// Issue 163
.affix {
  position: static;
}

.content h1 {
	font-style: normal;
	font-weight: 600;
}

.sidebar-menu li.selected {
	background-color: #e3f1fc;
}

.blockquote {
	background-color: #fafafa;
	border-left: 5px solid #319af3;
	font-size: inherit;
}
p a {
	border-bottom: 1px dashed #319af3;
	text-decoration: none;
}
p a:hover {
	border-bottom: 1px solid #319af3;
	text-decoration: none;
}
#infobar-headings {
	margin-top: 20px;
}

// fixes #175 issue
.sidebar-menu li.active > a.expand {
	left: -14px;
}