@for (var id = 0; id <= 200; id++)
{
    <a href="https://opencollective.com/reactiveui/backer/@id/website" target="_blank">
        <img src="//opencollective.com/reactiveui/backer/@id/avatar.svg" />
    </a>
}
