    <div class="row">
        <div class="offset-lg-2 col-12 col-lg-8" style="padding-top: 18px">
           <ul class="list-inline">
               <li class="list-inline-item">
                   <a href="https://github.com/reactiveui/reactiveui#core-team" target="_blank">Team</a>
               </li>
               <li class="list-inline-item">
                   <a href="/support" target="_blank">Support</a>
               </li>
               <li class="list-inline-item">
                   <a href="https://github.com/reactiveui/ReactiveUI/discussions" target="_blank">Discussions</a>
               </li>
               <li class="list-inline-item">
                   <a href="/branding" target="_blank">Branding</a>
               </li>
               <li>
                   <a href="/source-code" target="_blank">Source Code</a>
               </li>
               <li class="list-inline-item">
                   <a href="/docs" target="_blank">Documentation</a>
               </li>
               <li class="list-inline-item">
                   <a href="/changelog" target="_blank">Changelog</a>
               </li>
               <li class="list-inline-item">
                   <a href="https://twitter.com/reactivexui" target="_blank">Twitter</a>
               </li>
               <li class="list-inline-item">
                   <a href="/contact" target="_blank">Contact Us</a>
               </li>
           </ul>
       </div>

        <div class="col-lg-2 col-sm-2 col-xs-12">
           <a href="/"><img src="./assets/img/logo.png" width="64" height="64" class="footer-logo" alt="logotype" ></a>
       </div>
    </div>
