<div class="container bottom-footer">
   <div class="col-lg-10 col-sm-10 col-xs-12">
       <ul class="list-inline">
           <li class="list-inline-item">
               <a href="/donate" target="_blank">Donate</a>
           </li>
           <li class="list-inline-item">
               <a href="/sponsorship" target="_blank">Sponsorship</a>
           </li>
           <li class="list-inline-item">
               <a href="/support" target="_blank">Support</a>
           </li>
           <li class="list-inline-item">
               <a href="/stack-overflow" target="_blank">StackOverflow</a>
           </li>
           <li class="list-inline-item">
               <a href="/branding" target="_blank">Branding</a>
           </li>
           <li>
               <a href="/source-code" target="_blank">Source Code</a>
           </li>
           <li class="list-inline-item">
               <a href="/docs" target="_blank">Documentation</a>
           </li>
           <li class="list-inline-item">
               <a href="/changelog" target="_blank">Changelog</a>
           </li>
       </ul>
   </div>

   <div class="col-lg-2 col-sm-2 col-xs-12">
       <a href="/"><img src="./assets/img/logo.png" class="footer-logo" ></a>
   </div>
</div>
