<div class="container">
    <div class="vertical-align">
        <ul class="list-inline col-md-5 col-sm-6 text-right">
            <li class="list-inline-item">
                <a href="/donate" target="_blank">Donate</a>
            </li>
            <li class="list-inline-item">
                <a href="/sponsorship" target="_blank">Sponsorship</a>
            </li>
            <li class="list-inline-item">
                <a href="/support" target="_blank">Support</a>
            </li>
            <li class="list-inline-item">
                <a href="/stack-overflow" target="_blank">StackOverflow</a>
            </li>
        </ul>

        <div class="col-md-1 col-sm-6">
            <a href="/"><img src="~/assets/img/logo.png" class="center-block" width="64" height="64"></a>
        </div>

        <ul class="list-inline col-md-5 col-sm-6 text-left">
            <li class="list-inline-item">
                <a href="/branding" target="_blank">Branding</a>
            </li>
            <li>
                <a href="/source" target="_blank">Source Code</a>
            </li>
            <li class="list-inline-item">
                <a href="/documentation" target="_blank">Documentation</a>
            </li>
            <li class="list-inline-item">
                <a href="/changelog" target="_blank">Changelog</a>
            </li>
        </ul>
    </div>
</div>