@{
    var pages = new Dictionary<string, string>
    {
        { "Blog", Context.GetLink("blog") },
        { "Book", Context.GetLink("book") },
        { "Documentation", Context.GetLink("docs") },
        { "Extensions", Context.GetLink("reactive-extensions") },
        { "API", Context.GetLink("api") },
        { "Contribute", Context.GetLink("contribute") },
        { "Discussions", "https://github.com/reactiveui/ReactiveUI/discussions" },
        { "Slack", Context.GetLink("slack") },
        { "Support", Context.GetLink("support") },
    };

    foreach(var currentPage in pages)
    {
        var activeClass = Context.GetLink(Document).StartsWith(currentPage.Value) ? "active" : null;
        <li class="@activeClass">
          <a href="@currentPage.Value">@Html.Raw(currentPage.Key)</a>
        </li>
    }

    <li>
        <a class="github" href="https://github.com/reactiveui/reactiveui">
            <i class="fa fa-github"></i>
        </a>
    </li>
}
