@{
    var pages = new Dictionary<string, string>
    {
        { "Blog", Context.GetLink("blog") },
        { "Training", Context.GetLink("training") },
        { "Book", Context.GetLink("book") },
        { "Documentation", Context.GetLink("docs") },
        { "Extensions", Context.GetLink("reactive-extensions") },		
        { "API", Context.GetLink("api") },
        { "Contribute", Context.GetLink("contribute") },
        { "Support", Context.GetLink("support") },
    };

    foreach(var currentPage in pages)
    {
        var activeClass = Context.GetLink(Document).StartsWith(currentPage.Value) ? "active" : null;
        <li class="@activeClass">
          <a href="@currentPage.Value">@Html.Raw(currentPage.Key)</a>
        </li>
    }

    <li>
        <a class="github" href="https://github.com/reactiveui/reactiveui">
            <img src="@Context.GetLink("/assets/img/GitHub-Mark-32px.png")" alt="GitHub" />
        </a>
    </li>
}
