[Oo]bj/
[Bb]in/
Debug/
TestResults/
.nuget/
_ReSharper.*/
/packages
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.aps
/KRuntime.sln.ide
/*.vspx
*.metaproj*
debugSettings.json
project.lock.json
version.h

# Profiler result files, just in case they are left lying around :)
/.vs/

PublishOutput/
node_modules/
src/*/wwwroot/lib/

*.min.js
*.min.css

# meetups
ShowDetails.json

# dashboard
src/*/wwwroot/dashboard/

# api docs
wyam/
src/reactiveui/
src/*/wwwroot/assets/
src/*/wwwroot/api/

# build
archive/
tools/
