NoTitle: true
IsBlog: true
ShowInSidebar: false
ShowInNavbar: => GetInt("Index") <= 1
Order: => GetInt("PostOrder")
IsPostArchive: true
Title: => GetString("PostTitle")
ArchiveSources: => GetString("PostSources")
ArchiveFilter: => GetBool("IsPost")
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"posts/index.html" : $"posts/page/{GetInt("Index")}.html"
ArchiveTitle: => GetString("Title")
---
        @inherits StatiqRazorPage<IDocument>
@foreach (IGrouping<(int, string), IDocument> group in Model
                                                 .GetChildren()
                                                 .GroupBy(x => (x.GetDateTime(WebKeys.Published).Year, x.GetString("Tags")))
                                                 .OrderByDescending(x => x.Key.Item1).ThenBy(y => y.Key.Item2))
        {
    <h1 class="p-2">@group.Key.Item1 - @group.Key.Item2</h1>
            foreach (var post in group)
            {
        <div>
                    @if (post.GetBool("ShowFullBlog"))
                    {
                        @await Html.PartialAsync("_postFull", post)
                    }
                    else
                    {
                        @await Html.PartialAsync("_post", post)
                    }
        </div>
            }
        }

        @{
            var newer = Model.GetDocument(Keys.Previous);
            var older = Model.GetDocument(Keys.Next);
        }
        @if (older != null || newer != null)
        {
    <div>
        <div class="float-sm-start">
                    @if (newer != null)
                    {
                <a class="btn btn-primary" href="@Context.GetLink(newer)" role="button"><i class="fas fa-angle-double-left"></i> Newer</a>
                    }
        </div>
        <div class="float-sm-end">
                    @if (older != null)
                    {
                <a class="btn btn-primary" href="@Context.GetLink(older)" role="button">Older <i class="fas fa-angle-double-right"></i></a>
                    }
        </div>
        <div class="clearfix"></div>
    </div>
        }
