@using reactiveui.net.ViewModels
@model MeetupViewModel

@if (Model.IsLiveShowEmbedded)
{
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="@Model.LiveShowEmbedUrl" allowfullscreen></iframe>
    </div>
}
@Html.Raw(Model.LiveShowHtml)
