NoTitle: true
IsBlog: true
ShowInSidebar: false
ShowInNavbar: => GetInt("Index") <= 1
Order: => GetInt("PostOrder")
IsPostArchive: true
Title: => GetString("PostTitle")
ArchiveSources: => GetString("PostSources")
ArchiveFilter: => GetBool("IsPost")
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"posts/index.html" : $"posts/page/{GetInt("Index")}.html"
ArchiveTitle: => GetString("Title")
---
@{
            foreach (IDocument doc in OutputPages
                .Where(x => x.GetBool(SiteKeys.IsBlog) && x.GetBool(SiteKeys.ShowInSidebar, true) && !x.ContainsKey(Keys.RedirectTo) && x.ContainsKey("Tags"))
                .OrderBy(x => x.GetString("Tags"))
                .ThenByDescending(x => x.GetString(WebKeys.Published)))
            {
    <div>
        @if (doc.GetBool("ShowFullBlog"))
                    {
        @await Html.PartialAsync("_postFull", doc)
                    }
                    else
                    {
        @await Html.PartialAsync("_post", doc)
                    }
    </div>
            }

            IDocument newer = Model.GetDocument(Keys.Previous);
            IDocument older = Model.GetDocument(Keys.Next);

            if (older != null || newer != null)
            {
    <div>
        <div class="float-sm-start">
            @if (newer != null)
                        {
            <a class="btn btn-primary" href="@Context.GetLink(newer)" role="button"><i class="fas fa-angle-double-left"></i> Newer</a>
                        }
        </div>
        <div class="float-sm-end">
            @if (older != null)
                        {
            <a class="btn btn-primary" href="@Context.GetLink(older)" role="button">Older <i class="fas fa-angle-double-right"></i></a>
                        }
        </div>
        <div class="clearfix"></div>
    </div>
            }
}
