@using reactiveui.net.Models
@{
    ViewData["Title"] = "ReactiveUI - Get Help";
}
<div class="container">
    <div class="row">
        <div class="span12 col-sm-12">
            <h1>Get help</h1>

            <p>Are you blocked with a bug you’re trying to fix, or a new feature you’re working on? Do you want to report harassment or a code of conduct violation? You’ve come to the right place!</p>
            
            <h1>Tutorials</h1>


            <h1>Do you want to contribute?</h1>
            <p>
                Whether you’re a developer or a non-coding expert, we have a lot for everyone to do. If you’re already actively contributing — or are working on your first contribution — here are some resources to help you along the way:

                <ul>
                    <li>Discover the ways you can contribute to ReactiveUI <a asp-controller="Contribute">here</a>.</li>
                    <li>If you’re running into blockers with your contribution, ask for help on <a asp-controller="SourceCode">GitHub</a> or join our public <a asp-controller="Slack">Slack</a> community.</li>
                    <li>Get support for <a asp-controller="Support">commercial projects</a> or have your prototype or product built</li>
                </ul>
            </p>
            
            <h1>Do you want to report a code of conduct voilation?</h1>
            <p>If you’re being harassed, noticed someone else being harassed, or have any other concerns, please  <a asp-controller="Contact">contact us immediately</a>. Your reports will be taken seriously and will not be dismissed or argued with. All members, committers and volunteers in this community are required to act according to the <a asp-controller="CodeOfConduct">Code of Conduct</a>. These guidelines help steer our interactions and strive to keep ReactiveUI a positive, growing project and community and help us provide and ensure a safe environment for everyone. When referring to a group of people, we aim to use gender-neutral terms like “team”, “folks”, “everyone”. (For details, we recommend <a href="https://modelviewculture.com/pieces/gendered-language-feature-or-bug-in-software-documentation" target="_blank">this post</a>).</p>

            <h1>Contact us</h1>
            <p>Looking for something that we haven’t answered here? <a asp-controller="Contact">Get in touch!</a></p>
        </div>
    </div>
</div>
