Title: Commercial Support
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class=" container">
    <div class=" row">
        <div class=" span6 col-sm-6">
            <p>
                <strong>
                    <a href="#">Prompt, expert support</a>
                </strong>
            </p>
            <p>Save time and money with a direct line to the project developers. Ask development questions via email or a private support desk and get prompt answers from an expert.</p>
        </div>

        <div class=" span6 col-sm-6">
            <p>
                <strong>
                    <a href="#">Bug & security bulletins</a>
                </strong>
            </p>
            <p>Help ensure your application is secure and bug free with bug and security bulletins. You can specify email addresses within your organization and get up-to-date information about critical issues.</p>
        </div>
    </div>

    <div class=" row">
        <div class=" span6 col-sm-6">
            <p>
                <strong>
                    <a href="#">Nightly builds</a>
                </strong>
            </p>
            <p>Get access to features and bug fixes before the next release with access to nightly builds on a NuGet feed.</p>
        </div>

        <div class=" span6 col-sm-6">
            <p>
                <strong>
                    <a href="#">Hot fixes</a>
                </strong>
            </p>
            <p>Use ReactiveUI in production with confidence. A support contract provides a guaranteed hot fix response time for any bugs you encounter in production or development.</p>
        </div>
    </div>

    <div class=" row">
        <div class=" span6 col-sm-6">
            <p>
                <strong>
                    <a href="#">Code reviews & guidance</a>
                </strong>
            </p>
            <p>A support contract also provides time for architectural planning, Q&A, performance tuning and code reviews. Ensuring that you are using all of ReactiveUI's features to maximize your application's features and performance.</p>
        </div>

        <div class=" span6 col-sm-6">
            <p>
                <strong>
                    <a href="#">Upstream compatibility secured</a>
                </strong>
            </p>
            <p>Not only do we provide you with a 'hot-fix', but we’ll also make sure the fix is being merged upstream properly.</p>
        </div>
    </div>
</div>

<div class=" container">
    <div class=" row">
        <div class=" span6 col-sm-12">
            <h2>How can we help you?</h2>
            <p>You'll save time and money with a direct, private line to the project developers and at the same time will be supporting the open-source community by ensuring that ReactiveUI itself will remain open and well supported for the foreseeable future</a>. Send us an <a href="mailto:hello@reactiveui.net">email with your requirements</a> for a confidential discussion.</p> 
        </div>
    </div>
</div>
