html, body { width: 100%; }

body { overflow-x: hidden; }

@media screen and (min-width: 768px) { body { min-height: 100vh; }
  .icon-md-100 { width: 100% !important; height: auto !important; } }

@media screen and (max-width: 767.98px) { body { -webkit-overflow-scrolling: touch; } }

@media screen and (min-width: 992px) { .h-lg-100 { height: 100%; } }

@media screen and (min-width: 1200px) { .h-xl-100 { height: 100%; } }

.max-vw-1 { max-width: 1vw !important; }

.min-vw-1 { min-width: 1vw !important; }

.max-vh-1 { max-height: 1vh !important; }

.min-vh-1 { min-height: 1vh !important; }

.max-vw-2 { max-width: 2vw !important; }

.min-vw-2 { min-width: 2vw !important; }

.max-vh-2 { max-height: 2vh !important; }

.min-vh-2 { min-height: 2vh !important; }

.max-vw-3 { max-width: 3vw !important; }

.min-vw-3 { min-width: 3vw !important; }

.max-vh-3 { max-height: 3vh !important; }

.min-vh-3 { min-height: 3vh !important; }

.max-vw-4 { max-width: 4vw !important; }

.min-vw-4 { min-width: 4vw !important; }

.max-vh-4 { max-height: 4vh !important; }

.min-vh-4 { min-height: 4vh !important; }

.max-vw-5 { max-width: 5vw !important; }

.min-vw-5 { min-width: 5vw !important; }

.max-vh-5 { max-height: 5vh !important; }

.min-vh-5 { min-height: 5vh !important; }

.max-vw-6 { max-width: 6vw !important; }

.min-vw-6 { min-width: 6vw !important; }

.max-vh-6 { max-height: 6vh !important; }

.min-vh-6 { min-height: 6vh !important; }

.icon-theme { --fa-primary-color: #319af3; --fa-secondary-color: #319af3; }

.icon-100 { width: 100% !important; height: auto !important; }

.font-sans-serif { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important; }

.font-serif { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important; }

.font-monospace { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important; }

.font-size-lg { font-size: 1.25rem; }

.font-size-sm { font-size: 0.875rem; }

.font-size-base { font-size: 1rem; }

h1, h2, h3, .display-1, .display-2, .display-3, .display-4, .h-section { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; }

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), .display-1:not(:first-child), .display-2:not(:first-child), .display-3:not(:first-child), .display-4:not(:first-child), .h-section:not(:first-child) { margin-top: 1.5rem; }

h1 { font-weight: bold; color: #319af3; background: -webkit-linear-gradient(#198ef2, #198ef2); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; padding-bottom: 0.15rem; margin-bottom: 0.5rem; }

h1 * { background-image: none; -webkit-background-clip: initial; background-clip: initial; -webkit-text-fill-color: initial; }

h2 { color: #5da2df; }

h3 { color: #87bbe8; }

.border-muted { border-color: var(--bs-secondary-color) !important; }

.h-section { background: -webkit-linear-gradient(#198ef2, #198ef2); color: #fff; padding: 0.5rem; margin-bottom: 1.5rem; }

.navbar .navbar-collapse { align-items: stretch; }

.navbar .navbar-nav { align-items: stretch; }

.navbar .nav-item { display: flex; align-items: center; }

#logo { height: 2.5rem; }

code { padding: .25rem .5rem; margin: 0; }

pre code { padding: 0; }

code, code[class*="language-"], pre[class*="language-"] { background-color: #e9ecef; text-shadow: none; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; font-size: 0.875rem; }

code span, code[class*="language-"] span, pre[class*="language-"] span { background: none !important; }

.table-api thead th { border: none; background: #e9ecef linear-gradient(0deg, #e9ecef, #f8f9fa) repeat-x !important; font-size: 0.875rem; }

.table-api tbody tr:nth-of-type(even) { background-color: rgba(0, 0, 0, 0.02); }

.table-api tbody tr td:not(:first-child) { font-size: 0.875rem; }

.bg-body { background-color: #fff; }

#hero { background: #319af3 linear-gradient(155deg, #319af3, #319af3) repeat-x !important; }

#content { min-height: 105vh; }

#content ul:not([class]) li, #content ul[class=""] li { padding-top: 0.25rem; padding-bottom: 0.25rem; }

#content.p-4 > pre[class*="language-"] { margin-left: -1.5rem; margin-right: -1.5rem; padding-left: 1.5rem; padding-right: 1.5rem; }

#titlebar { background: #319af3 linear-gradient(180deg, #319af3, #319af3) repeat-x !important; }

#titlebar .breadcrumbs { color: #79bdf7; font-size: 1rem; display: block; visibility: visible; }

#titlebar .breadcrumbs span::after { color: #61b2f6; content: "/"; font-weight: 700; margin-left: 0.5rem; margin-right: 0.5rem; font-size: 1.25rem; }

#titlebar .breadcrumbs span:last-child:after { content: ''; }

#titlebar .breadcrumbs a, #titlebar .breadcrumbs a:focus, #titlebar .breadcrumbs a:active, #titlebar .breadcrumbs a:hover { color: #79bdf7; }

#titlebar .breadcrumbs a:hover { color: #61b2f6; }

#titlebar .title { line-height: 1.5em; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; font-size: 2.5rem; }

#titlebar .title small { font-size: 0.7em; color: #c2e1fb; }

#undertitle { background: #319af3 linear-gradient(180deg, #319af3 30%, #198ef2 100%) repeat-x !important; }

@media (min-width: 768px) { #undertitle > div { min-height: 1.5rem; }
  #undertitle > div > .row { min-height: 1.5rem; } }

.sidebar { padding-top: 1rem; }

@media (min-width: 768px) { .sidebar { border-bottom: none; padding-bottom: 0; margin-bottom: 0; overflow-y: auto; top: 260px; width: 22.333333%; transition: opacity 0.5s; position: absolute; max-height: 100vh; z-index: 1020; }
  .sidebar:hover { opacity: 1; } }

#left-sidebar { display: block !important; left: 0; }

#right-sidebar { right: 0; }

@media (max-width: 767.98px) { #right-sidebar { display: none !important; } }

.sidebar-root > .sidebar-nav-item { font-weight: 700; color: #343a40; margin-bottom: 1rem; }

.sidebar-root > .sidebar-nav-item.has-children { margin-bottom: 0; }

.sidebar-root > .sidebar-nav-item.sidebar-header { margin-bottom: 0.25rem; color: #212529; font-size: 0.74375rem; text-transform: uppercase; }

.sidebar-root > .sidebar-nav-children { padding-top: 0.5rem; font-size: 0.875rem; border-top: 3px solid #ced4da; margin-bottom: 1rem; }

.sidebar-root > .sidebar-nav-children > .sidebar-nav-children { font-size: 0.76563rem; padding-left: 0.5rem; }

.sidebar-root > .sidebar-nav-children > .sidebar-nav-children > .sidebar-nav-item { border-left: 4px solid #e9ecef; }

.sidebar-root > .sidebar-nav-children > .sidebar-nav-children > .sidebar-nav-item.active { border-left: 4px solid #0d81e4; }

.sidebar-root .sidebar-nav-item { padding: 0.15rem 0.5rem; color: #6c757d; }

.sidebar-root .sidebar-nav-item.active { font-weight: 700; color: #fff; background-color: #319af3; }

.sidebar-root .sidebar-nav-item.active a, .sidebar-root .sidebar-nav-item.active a:focus, .sidebar-root .sidebar-nav-item.active a:active { color: #fff; }

.sidebar-root .sidebar-nav-item.active a:hover { color: #fff; }

.sidebar-root .sidebar-nav-item a, .sidebar-root .sidebar-nav-item a:focus, .sidebar-root .sidebar-nav-item a:active { color: #6c757d; }

.sidebar-root .sidebar-nav-item a:hover { color: #0a66b4; }

.sidebar-root .sidebar-nav-children { padding-bottom: 0.25rem; }

.page-box { border: 1px solid #e9ecef; border-radius: 0.375rem; }

.page-box *:last-child { margin-bottom: 0; }

/* Mermaid */
.mermaid { overflow: hidden !important; visibility: hidden !important; margin-bottom: 1rem; margin-top: 1rem; min-height: 200px; }

.mermaid[data-processed="true"] { visibility: visible !important; }

.mermaid svg { min-height: 200px; }

.node rect, .node circle, .node ellipse, .node polygon { fill: white !important; stroke: #000 !important; }

.type-node rect, .type-node circle, .type-node ellipse, .type-node polygon { fill: #c2e1fb !important; stroke: #000 !important; }

.cluster rect { fill: #f8f9fa !important; stroke: #dee2e6 !important; }

.youtube-video-container { position: relative; overflow: hidden; width: 100%; }

.youtube-video-container::after { display: block; content: ""; padding-top: 56.25%; }

.youtube-video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

a:not([class*="btn"]) { text-decoration: none; }

a:not([class*="btn"]):hover { text-decoration: underline; }

.bi { width: 1em; height: 1em; vertical-align: -.125em; fill: currentcolor; }

.branding-title { color: #319af3; font-size: 51px; font-weight: 300; margin-top: 10px; }

.branding-caption { margin-top: 0; margin-bottom: 10px; line-height: 1.45em; font-weight: 300; font-size: 21px; }

.branding-button { border-radius: 30px; border: 1px solid #319af3; transition: all .3s ease; text-decoration: none; display: inline-block; margin-bottom: 10px; padding: 7px 15px; }

.branding-button:hover { transition: all .3s ease; border-color: #319af3; background-color: #319af3; text-decoration: none; color: #fff; }

.branding-subheader { font-size: 25px; color: #319af3; }

.branding-code { font-size: 14px; line-height: 1.8em; margin-top: 20px; overflow: hidden; }

@media (max-width: 767px) { .branding-image { max-width: 40%; } }

.branding { margin-top: 30px; margin-bottom: 30px; }

@media (max-width: 767px) { .branding { margin-top: 15px; } }
