<h2>Previous Meetups</h2>

<div class="container">
        <div class="row">

                <div class="col-sm-6 col-md-4">
    <div class="thumbnail youtube-show bottom-buffer center-block">
        <a href="https://www.youtube.com/watch?v=tNn-7fen3DA&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=0" title="Watch this episode">
            <div>
                <img class="img-responsive center-block" src="https://i.ytimg.com/vi/tNn-7fen3DA/hqdefault.jpg" alt="Thumbnail of episode">
            </div>
        </a>
        <div class="caption text-center">
            <h3>
                <a href="https://www.youtube.com/watch?v=tNn-7fen3DA&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=0" title="Watch this episode">
 The Super Cool Package<br>
                </a>
                <span class="show-date">May 29, 2017</span>
            </h3>
        </div>
    </div>
</div>

                <div class="col-sm-6 col-md-4">
    <div class="thumbnail youtube-show bottom-buffer center-block">
        <a href="https://www.youtube.com/watch?v=vydDJ9CaIug&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=1" title="Watch this episode">
            <div>
                <img class="img-responsive center-block" src="https://i.ytimg.com/vi/vydDJ9CaIug/hqdefault.jpg" alt="Thumbnail of episode">
            </div>
        </a>
        <div class="caption text-center">
            <h3>
                <a href="https://www.youtube.com/watch?v=vydDJ9CaIug&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=1" title="Watch this episode">
 Xamarin University Guest Lecture<br>
                </a>
                <span class="show-date">Mar 17, 2017</span>
            </h3>
        </div>
    </div>
</div>

                <div class="col-sm-6 col-md-4">
    <div class="thumbnail youtube-show bottom-buffer center-block">
        <a href="https://www.youtube.com/watch?v=ABbu39g4w3o&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=2" title="Watch this episode">
            <div>
                <img class="img-responsive center-block" src="https://i.ytimg.com/vi/ABbu39g4w3o/hqdefault.jpg" alt="Thumbnail of episode">
            </div>
        </a>
        <div class="caption text-center">
            <h3>
                <a href="https://www.youtube.com/watch?v=ABbu39g4w3o&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=2" title="Watch this episode">
 Let's build some samples<br>
                </a>
                <span class="show-date">Feb 22, 2017</span>
            </h3>
        </div>
    </div>
</div>

                <div class="col-sm-6 col-md-4">
    <div class="thumbnail youtube-show bottom-buffer center-block">
        <a href="https://www.youtube.com/watch?v=abm2vgjmVAM&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=3" title="Watch this episode">
            <div>
                <img class="img-responsive center-block" src="https://i.ytimg.com/vi/abm2vgjmVAM/hqdefault.jpg" alt="Thumbnail of episode">
            </div>
        </a>
        <div class="caption text-center">
            <h3>
                <a href="https://www.youtube.com/watch?v=abm2vgjmVAM&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=3" title="Watch this episode">
 Past, Now &amp; Future<br>
                </a>
                <span class="show-date">Feb 14, 2017</span>
            </h3>
        </div>
    </div>
</div>

                <div class="col-sm-6 col-md-4">
    <div class="thumbnail youtube-show bottom-buffer center-block">
        <a href="https://www.youtube.com/watch?v=5DZ8nC0ENdg&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=4" title="Watch this episode">
            <div>
                <img class="img-responsive center-block" src="https://i.ytimg.com/vi/5DZ8nC0ENdg/hqdefault.jpg" alt="Thumbnail of episode">
            </div>
        </a>
        <div class="caption text-center">
            <h3>
                <a href="https://www.youtube.com/watch?v=5DZ8nC0ENdg&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=4" title="Watch this episode">
Awaiting for Rx: A Play in Four Acts<br>
                </a>
                <span class="show-date">Oct 24, 2014</span>
            </h3>
        </div>
    </div>
</div>

                <div class="col-sm-6 col-md-4">
    <div class="thumbnail youtube-show bottom-buffer center-block">
        <a href="https://www.youtube.com/watch?v=1XNATGjqM6U&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=5" title="Watch this episode">
            <div>
                <img class="img-responsive center-block" src="https://i.ytimg.com/vi/1XNATGjqM6U/hqdefault.jpg" alt="Thumbnail of episode">
            </div>
        </a>
        <div class="caption text-center">
            <h3>
                <a href="https://www.youtube.com/watch?v=1XNATGjqM6U&amp;list=PLM9jdoijSdhgiRR9Bd8KkLggD0LZK5K3C&amp;index=5" title="Watch this episode">
Functional Reactive Programming in Practice<br>
                </a>
                <span class="show-date">Sep 22, 2014</span>
            </h3>
        </div>
    </div>
</div>

        </div>

    </div>