@{
    ViewData["Title"] = "ReactiveUI - Contribute";
}
<div class="container">
    <div class="row">
        <div class="span12 col-sm-12">
            <h1>Contribute</h1>
            <p>ReactiveUI is developed under an OSI-approved <a asp-controller="License">open source license</a>, making it freely usable and distributable, even for commercial use. Because of our <a asp-controller="Donate">Open Collective model for funding and transparency</a>, we are able to funnel support and funds through to our contributors and community. We ❤ the people who are involved in this project, and we’d love to have you on board, especially if you are just getting started or have never contributed to open-source before.
            </p>

            <p>
                So here's to you, lovely person who wants to join us — this is how you can support us:
                <ul>
                    <li>
                        <a asp-controller="StackOverflow" target="_blank">Responding to questions on StackExchange</a>
                    </li>
                    <li>
                        <a href="http://ericsink.com/entries/dont_use_rxui.html" target="_blank">Passing on knowledge and teaching the next generation of developers</a>
                    </li>
                    <li>
                        <a asp-controller="Donate" target="_blank">Donations</a> and <a asp-controller="Sponsorship" target="_blank">Corporate Sponsorships</a>
                    </li>
                    <li>
                        <a asp-controller="Documentation" target="_blank">Submitting documentation updates where you see fit or lacking</a>
                    </li>
                    <li>
                        <a href="https://docs.reactiveui.net/en/contributing/" target="_blank">Making contributions to the code base</a>
                    </li>
                    <li>
                        <a href="https://github.com/github/balanced-employee-ip-agreement" target="_blank">Asking your employer to reciprocate and contribute to open-source</a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
<div class="pattern-bg">
    <div class=" container">
        <div class=" row">
            <div class=" span12 col-sm-12">
                <h2>Every open source project loves new contributors</h2>
                <p>
                    and there are lots and lots of people who would love to contribute to Open Source, but <i>don't know how</i>.
                </p>

                <p>
                    So what is missing? There is a huge difference between welcoming Pull Requests and creating a <a href="https://lwn.net/Articles/688542/" target="_blank">contributor-friendly community</a>. That's why ReactiveUI maintains a <a asp-controller="ContributionIdeas" target="_blank">curated backlog of tasks for people who have never contributed to the project before or are completely new to open-source</a>. Often it takes more time to prepare these tasks than to actually implement them. We do this because of the message it sends to someone who is new to the project. It shows that we clearly care about people coming here, that we want them to succeed and that we are here to help. We invest in you, in hope that you will stick around and pay it forward when you are ready.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="code-of-conduct">
    <div class=" container">
        <div class="row">
            <div class=" span6 col-sm-12">
                <h2>Code of Conduct</h2>
                <p>If you’re being harassed, noticed someone else being harassed, or have any other concerns, please  <a asp-controller="Contact">contact us immediately</a>. Your reports will be taken seriously and will not be dismissed or argued with. All members, committers and volunteers in this community are required to act according to the <a asp-controller="CodeOfConduct">Code of Conduct</a>. These guidelines help steer our interactions and strive to keep ReactiveUI a positive, growing project, community and help us provide and ensure a safe environment for everyone. When referring to a group of people, we aim to use gender-neutral terms like “team”, “folks”, “everyone”. (For details, we recommend <a href="https://modelviewculture.com/pieces/gendered-language-feature-or-bug-in-software-documentation" target="_blank">this post</a>).</p>
           </div>
        </div>
    </div>
</div>

<div id="support-the-team">
    <div class=" container">
        <div class="row">
            <div class=" span6 col-sm-12">
                <h2>Contributors</h2>
                <a href="https://github.com/reactiveui/ReactiveUI/graphs/contributors" target="_blank">
                    <img src="https://opencollective.com/reactiveui/contributors.png?avatarHeight=48&button=false&width=1000&margin=3" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</div>
@*http://hood.ie/blog/starter-issues.html

                    https://webpack.js.org/support/*@