<meta http-equiv="refresh" content="1;url=mailto:hello@reactiveui.net?subject%3D%22Howdy%2C%20can%20you%20send%20me%20an%20invite%20to%20Slack%3F%22" />

Send an email to <a href="mailto:hello@reactiveui.net?subject%3D%22Howdy%2C%20can%20you%20send%20me%20an%20invite%20to%20Slack%3F%22">hello@reactiveui.net</a> to obtain an invitation to our Slack organization. Sit tight, it's worth it.
