<li class="nav-item small">
    <a class="nav-link" href="https://github.com/reactiveui/reactiveui"><i class="fab fa-github"></i> GitHub</a>
</li>
<li class="nav-item dropdown">
    <button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)" style="width: 50px; height: 50px;">
        <svg class="bi my-1 theme-icon-active"><use href="#moon-stars-fill"></use></svg>
        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false" style="width: 140px; height: 40px; ">
                <svg class="bi me-2 opacity-50 theme-icon" style="width: 35px; height: 35px;"><use href="#sun-fill"></use></svg>
                Light
                <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="false" style="width: 140px; height: 40px; ">
                <svg class="bi me-2 opacity-50 theme-icon" style="width: 35px; height: 35px;"><use href="#moon-stars-fill"></use></svg>
                Dark
                <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="true" style="width: 140px; height: 40px; ">
                <svg class="bi me-2 opacity-50 theme-icon" style="width: 35px; height: 35px;"><use href="#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
            </button>
        </li>
    </ul>
</li>
