<div class="row">
    <div class="offset-lg-1 col-10 col-lg-10" style="padding-top: 18px">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="nav-link" href="https://github.com/reactiveui/reactiveui#core-team">Team</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="https://github.com/sponsors/reactivemarbles">Support</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="https://github.com/reactiveui/ReactiveUI/discussions">Discussions</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="https://github.com/reactiveui/styleguide">Branding</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="./docs">Documentation</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="https://github.com/reactiveui/ReactiveUI/releases/">Changelog</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="./contact">Contact Us</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="https://twitter.com/reactivexui"><i class="fab fa-twitter"></i> Twitter</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="https://github.com/reactiveui/reactiveui"><i class="fab fa-github"></i> GitHub</a>
            </li>
            <li class="list-inline-item">
                <a href="/"><img src="./assets/img/logo.png" width="64" height="64" class="footer-logo" alt="logotype"></a>
            </li>
        </ul>
    </div>
</div>
