Title: Thanks
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class="container">
    <h2>Thanks for your contributions to the ReactiveUI Project</h2>
    <h3>Below you will find all the GitHub users that have contributed to the following repositories</h3>
    <ul>
        <li><a href="https://github.com/reactiveui/reactiveui">https://github.com/reactiveui/reactiveui</a></li>
        <li><a href="https://github.com/reactiveui/website">https://github.com/reactiveui/website</a></li>
    </ul>
    <div class="contributors"></div>
    <h3>You can contribute too!</h3>
    <p>Everyone who contributes will get an invitation to join the ReactiveUI organization! <a href="/contribute">Learn about contributing</a>.</p>
</div>

<script>
  $.when(
    $.ajax('https://api.github.com/repos/reactiveui/website/contributors?per_page=250'),
    $.ajax('https://api.github.com/repos/reactiveui/reactiveui/contributors?per_page=250'))
  .then(function(websiteData, reactiveUIData) {
    var persons = {};
    var allData = websiteData[0].concat(reactiveUIData[0]);

    for(var i = 0; i < allData.length; i++) {
        persons[allData[i].login] = allData[i];
    }

    var sortedLogins = Object.keys(persons).sort();

    $(sortedLogins).each(function (index, login) {
      var person = persons[login];
      var img = '<img class="contributor" src="' + person.avatar_url + '" />';
      $('.contributors')
        .append('<a title="' + person.login + '" href="' + person.html_url + '">' 
                + img + '</a>');
    });
  });
</script>

<style>
  .contributor {
    width: 80px;
    border-radius: 730px;
    margin: 10px 10px 0 0;
  }
</style>
