Title: Thanks
NoSidebar: true
NoContainer: true
NoGutter: false
---

<div class="container">
    <h2>Special thanks to our wonderful backers</h2>
    @Html.Partial("_Backers")

    <h2>Thanks to the following folks who have contributed to the ReactiveUI Project</h2>
    <h3>Below you will find all the GitHub users that have contributed to the following repositories</h3>
    <ul>
        <li><a href="https://github.com/reactiveui/reactiveui">https://github.com/reactiveui/reactiveui</a></li>
        <li><a href="https://github.com/reactiveui/website">https://github.com/reactiveui/website</a></li>
    </ul>
    <div class="contributors"></div>

    <h2>Thanks to the following companies who offer their services on a quid-pro-quo basis</h2>
    <a href="https://zapier.com/non-profits/"><img src="https://cdn.zapier.com/zapier/images/logos/zapier-logo.png"></a>
    
</div>

<script>
  $.when(
    $.ajax('https://api.github.com/repos/reactiveui/website/contributors?per_page=250'),
    $.ajax('https://api.github.com/repos/reactiveui/reactiveui/contributors?per_page=250'))
  .then(function(websiteData, reactiveUIData) {
    var persons = {};
    var allData = websiteData[0].concat(reactiveUIData[0]);

    for(var i = 0; i < allData.length; i++) {
        persons[allData[i].login] = allData[i];
    }

    var sortedLogins = Object.keys(persons).sort();

    $(sortedLogins).each(function (index, login) {
      var person = persons[login];
      var img = '<img class="contributor" src="' + person.avatar_url + '" />';
      $('.contributors')
        .append('<a title="' + person.login + '" href="' + person.html_url + '">' 
                + img + '</a>');
    });
  });
</script>

<style>
  .contributor {
    width: 80px;
    border-radius: 730px;
    margin: 10px 10px 0 0;
  }
</style>
