name: Build website

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup .NET (With cache)
        uses: actions/setup-dotnet@v5.0.1
        with:
         dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
         dotnet-quality: 'preview'

      - name: 'Setup Java JDK 11'
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'microsoft'
          java-version: '11'
        
      - name: 'Add MSBuild to PATH'
        uses: microsoft/setup-msbuild@v2.0.0
        with:
          vs-prerelease: true

      - name: 'Install DotNet workloads'
        shell: bash
        run: |
          dotnet workload install android ios tvos macos maui maccatalyst

      - name: Checkout 
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: 'Cache: .nuke/temp, ~/.nuget/packages'
        uses: actions/cache@v4
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('**/global.json', '**/*.csproj', '**/Directory.Packages.props') }}

      - name: 'Restore and Compile ReactiveUI Projects'
        run: ./build.cmd Compile
        
      - name: 'Build Website'
        run: ./build.cmd BuildWebsite

      - name: 'Deploy netlify'
        if: ${{ github.event_name != 'pull_request' }}
        run: |
            npm install -g netlify-cli
            netlify deploy --auth=${{ secrets.NETLIFY_DEPLOY_KEY }} --site=${{ secrets.NETLIFY_SITE_ID }} --prod --dir=reactiveui/_site
