@using reactiveui.net.ViewModels
@using reactiveui.net.Models

@{
    ViewData["Title"] = "ReactiveUI - Slack";
}
<div id="introduction">
    <div class=" container">
        <div class="row">
            <div class="span12 col-sm-12">
                <h1>Slack</h1>

            </div>
        </div>
    </div>
</div>

